In [1]:
import pandas as pd

Análisis de id_visitante-ticket

In [3]:
df_ticket=pd.read_csv("/Users/h.adrianzabaletahernandez/Desktop/ReconocimientoDeEmociones/Archivos CSV/ticket.csv")

In [41]:
type(df_ticket)

pandas.core.frame.DataFrame

In [ ]:
df_sin_id.head(20)

In [31]:
df_sin_id=df_ticket.drop(columns=['id_visitante'])
df_sin_id.dtypes

t_id                     object
tipo_entrada             object
coste                   float64
antelacion_de_compra      int64
dtype: object

In [26]:
df_sin_id.groupby(['tipo_entrada']).count()

                    t_id  coste  antelacion_de_compra
tipo_entrada
Entrada Familiar    5981   5981                  5981
Entrada Individual  5978   5978                  5978
Entrada Infantil    5980   5980                  5980
Paquete VIP         5978   5978                  5978
Pase Anual          5984   5984                  5984
Pase Rápido         5986   5986                  5986

In [ ]:
# las entradas fast-pass se venden como máximo con 3 días de anticipación
#Establecemos la condición y elimanmos las filas que la cumplan con drop() y el índice 
df_sin_id= df_sin_id.drop(df_sin_id[((df_sin_id['tipo_entrada']=='Pase Rápido')& (df_sin_id['antelacion_de_compra']>3))].index)
df_sin_id.head(20)

In [47]:
#Aquí va el código de encontrar duplicados y nulos
df_ticket_duplicados=df_sin_id.duplicated(keep=False)
print(df_sin_id[df_ticket_duplicados])

Empty DataFrame
Columns: [t_id, tipo_entrada, coste, antelacion_de_compra]
Index: []

In [50]:
df_sin_id.isnull().sum()

t_id                    0
tipo_entrada            0
coste                   0
antelacion_de_compra    0
dtype: int64

In [66]:
df_sin_id.isna().sum()

t_id                    0
tipo_entrada            0
coste                   0
antelacion_de_compra    0
dtype: int64