In [19]:
import pandas as pd

In [20]:
df_duracion=pd.read_csv('/Users/h.adrianzabaletahernandez/Desktop/ReconocimientoDeEmociones/Archivos CSV/duracion.csv')
df_duracion.drop(columns=['id_visitante'], inplace=True)
df_duracion

                          t_id  duracion
0        Training_10118481.jpg       308
1        Training_15361067.jpg       344
2        Training_16232328.jpg       161
3        Training_27705571.jpg       260
4        Training_63766171.jpg       169
...                        ...       ...
35882   PublicTest_2529039.jpg       419
35883  PublicTest_27916929.jpg       206
35884  PublicTest_64107181.jpg       368
35885  PublicTest_81098275.jpg       425
35886  PublicTest_94828377.jpg       464

[35887 rows x 2 columns]

La estancia de un vistante no puede superar las 9 horas

In [21]:
#Agregamos una nueva columna para ver la estancia en horas 
df_duracion["duracion_en_horas"]=round(df_duracion['duracion']/60, 2)

In [27]:
mayor_nueve=df_duracion[df_duracion['duracion_en_horas']>9]
mayor_nueve

                           t_id  duracion  duracion_en_horas
8         Training_12950225.jpg       570               9.50
21        Training_87355987.jpg       573               9.55
50        Training_20208912.jpg       541               9.02
60        Training_15524948.jpg       567               9.45
96        Training_36725406.jpg       587               9.78
...                         ...       ...                ...
35693   PrivateTest_9549216.jpg       564               9.40
35695  PrivateTest_16611986.jpg       560               9.33
35759  PrivateTest_11603346.jpg       545               9.08
35828  PrivateTest_93071746.jpg       557               9.28
35864  PrivateTest_37638961.jpg       648              10.80

[1279 rows x 3 columns]

In [15]:
df_duracion=df_duracion.drop(df_duracion[df_duracion['duracion_en_horas']>9].index)
df_duracion

                          t_id  duracion  duracion_en_horas
0        Training_10118481.jpg       308               5.13
1        Training_15361067.jpg       344               5.73
2        Training_16232328.jpg       161               2.68
3        Training_27705571.jpg       260               4.33
4        Training_63766171.jpg       169               2.82
...                        ...       ...                ...
35882   PublicTest_2529039.jpg       419               6.98
35883  PublicTest_27916929.jpg       206               3.43
35884  PublicTest_64107181.jpg       368               6.13
35885  PublicTest_81098275.jpg       425               7.08
35886  PublicTest_94828377.jpg       464               7.73

[34608 rows x 3 columns]

In [16]:
df_duracion.isnull().sum()

t_id                 0
duracion             0
duracion_en_horas    0
dtype: int64

In [17]:
df_duracion.isna().sum()

t_id                 0
duracion             0
duracion_en_horas    0
dtype: int64

In [18]:
df_duracion.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34608 entries, 0 to 35886
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   t_id               34608 non-null  object
 1   duracion           34608 non-null  int64
 2   duracion_en_horas  34608 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.1+ MB