In [25]:
import pandas as pd
import numpy as np
import random

In [38]:
df_emocion=pd.read_csv('/Users/h.adrianzabaletahernandez/Desktop/ArchivosCSVProyecto-Pontia2024/emocion.csv')

In [42]:
tiempo = [random.randint(1, 704) for i in range(96)]
for i in range(len(df_emocion)):
    if df_emocion.loc[i,'tiempo']>705:
         df_emocion.loc[i, 'tiempo'] = random.choice(tiempo)

In [44]:
df_emocion.describe()

             tiempo
count  35885.000000
mean     353.073958
std      203.174728
min        2.000000
25%      178.000000
50%      352.000000
75%      528.000000
max      705.000000

In [19]:

#Creamos una lista 
emo=df_emocion['emocion'].unique()
lista_emo=list(emo)
# La lista por comprensión filtra todos los valores NaN de lista_emo. pd.notna(x) devuelve True si x no es NaN.
lista_emo = [x for x in lista_emo if pd.notna(x)]

lista_emo

['angry', 'surprise', 'disgust', 'fear', 'happy', 'neutral', 'sad']

In [31]:
for i in range (len(df_emocion)):
    if pd.isnull(df_emocion.loc[i,'emocion']):
        df_emocion.loc[i,'emocion']=np.random.choice(lista_emo)

In [33]:
df_emocion.groupby(['emocion']).agg({'t_id':'count'})

          t_id
emocion
angry     4953
disgust    583
fear      5123
happy     8954
neutral   6195
sad       6083
surprise  3994

In [32]:
df_emocion.isnull().sum()

t_id           0
emocion        0
tiempo         0
emoción    35534
dtype: int64

In [43]:
df_emocion.to_csv('emocion_sql.csv', index=False)