In [25]:
import pandas as pd

Se crea este nuevo archivo para mergear los DFs creados. En el archivo anterior el kernel se bloqueaba.

In [2]:
df_procedencia=pd.read_csv('/Users/h.adrianzabaletahernandez/Desktop/ReconocimientoDeEmociones/Archivos CSV/procedencia.csv')

In [6]:
df_procedencia

       id_visitante                     t_id  procedencia
0                 3    Training_10118481.jpg    Filipinas
1                 3    Training_15361067.jpg       España
2                 3    Training_16232328.jpg  Puerto Rico
3                 3    Training_27705571.jpg     Paraguay
4                 3    Training_63766171.jpg    Argentina
...             ...                      ...          ...
35882          1783   PublicTest_2529039.jpg       España
35883          1784  PublicTest_27916929.jpg    Filipinas
35884          1785  PublicTest_64107181.jpg     Alemania
35885          1786  PublicTest_81098275.jpg    Filipinas
35886          1787  PublicTest_94828377.jpg      Francia

[35887 rows x 3 columns]

In [8]:
conteo = df_procedencia['t_id'].value_counts()
print(conteo)

t_id
Training_52789098.jpg      2
Training_8475486.jpg       2
Training_41762390.jpg      1
Training_94944075.jpg      1
Training_95606955.jpg      1
                          ..
Training_3921635.jpg       1
Training_23776599.jpg      1
Training_14829055.jpg      1
Training_97843698.jpg      1
PublicTest_94828377.jpg    1
Name: count, Length: 35885, dtype: int64

In [9]:
df_duracion=pd.read_csv('/Users/h.adrianzabaletahernandez/Desktop/ReconocimientoDeEmociones/Archivos CSV/duracion.csv')

In [10]:
conteo = df_duracion['t_id'].value_counts()
print(conteo)

t_id
Training_52789098.jpg      2
Training_8475486.jpg       2
Training_41762390.jpg      1
Training_94944075.jpg      1
Training_95606955.jpg      1
                          ..
Training_3921635.jpg       1
Training_23776599.jpg      1
Training_14829055.jpg      1
Training_97843698.jpg      1
PublicTest_94828377.jpg    1
Name: count, Length: 35885, dtype: int64

In [11]:
df_ticket=pd.read_csv('/Users/h.adrianzabaletahernandez/Desktop/ReconocimientoDeEmociones/Archivos CSV/ticket.csv')

In [16]:
conteo = df_ticket['t_id'].value_counts()
print(conteo)
conteo.sample()

t_id
Training_52789098.jpg      2
Training_8475486.jpg       2
Training_41762390.jpg      1
Training_94944075.jpg      1
Training_95606955.jpg      1
                          ..
Training_3921635.jpg       1
Training_23776599.jpg      1
Training_14829055.jpg      1
Training_97843698.jpg      1
PublicTest_94828377.jpg    1
Name: count, Length: 35885, dtype: int64

t_id
Training_7311585.jpg    1
Name: count, dtype: int64

In [23]:
df_ticket

,id_visitante,t_id,tipo_entrada,coste,antelacion_de_compra
0,3,Training_10118481.jpg,Pase Anual,14.00,0
1,3,Training_15361067.jpg,Entrada Familiar,20.90,2
2,3,Training_16232328.jpg,Entrada Infantil,12.64,218
3,3,Training_27705571.jpg,Paquete VIP,18.49,39
4,3,Training_63766171.jpg,Entrada Familiar,18.23,135
...,...,...,...,...,...
35882,1783,PublicTest_2529039.jpg,Entrada Individual,18.44,265
35883,1784,PublicTest_27916929.jpg,Entrada Individual,11.50,42
35884,1785,PublicTest_64107181.jpg,Entrada Individual,13.87,0
35885,1786,PublicTest_81098275.jpg,Entrada Familiar,16.70,23
35886,1787,PublicTest_94828377.jpg,Paquete VIP,21.84,208

In [14]:
df_atracciones=pd.read_csv('/Users/h.adrianzabaletahernandez/Desktop/ReconocimientoDeEmociones/Archivos CSV/atracciones.csv')

In [22]:
df_atracciones['t_id'].value_counts().head(50)
df_atracciones.groupby(['t_id']).agg({'atraccion':'count'})

                          atraccion
t_id
PrivateTest_10072988.jpg          1
PrivateTest_10077120.jpg          1
PrivateTest_10086748.jpg          1
PrivateTest_10089743.jpg          1
PrivateTest_10131363.jpg          1
...                             ...
Training_99984859.jpg             1
Training_99987906.jpg             1
Training_99988263.jpg             1
Training_99996831.jpg             1
Training_99999696.jpg             1

[35885 rows x 1 columns]

In [10]:
from functools import reduce

# Lista de DataFrames para fusionar. Hemos teniado que hacerlo solo con tres porque se bloqueaba el kernel
dfs = [df_procedencia, df_duracion, df_ticket]

# Usar reduce para fusionar todos los DataFrame de la lista
#Hay que tener en cuenta que la columna 't_id' está en todos los df que queremos mergear, por lo que esto puede ser un problema.
#Para solucionarlo  especifico suffixes=('', '_right') para evitar la colisión de nombres en las columnas, 
#asignando el sufijo '_right' solo a las columnas del DataFrame "right" en cada fusión. 

merge_by_id_visitante = reduce(
    lambda left, right: pd.merge(left, right, on='id_visitante', suffixes=('', '_right')), 
    dfs
)
# Eliminar columnas duplicadas que terminen con '_right'
merge_by_id_visitante = merge_by_id_visitante.loc[:, ~merge_by_id_visitante.columns.str.endswith('_right')]

The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

merge_by_id_visitante = merge_by_id_visitante.loc[:, ~merge_by_id_visitante.columns.str.endswith('_right')]

-Componentes del Código

1. merge_by_id_visitante:

Este es el DataFrame que contiene el resultado de todas las fusiones realizadas anteriormente con la función reduce.

2. .loc[]:

Este es un accesor indexador usado en pandas para acceder a un grupo de filas y columnas por etiquetas o una matriz booleana. En este caso, .loc[:, ...] se utiliza para acceder a todas las filas (:) y a columnas específicas basadas en la condición que se define dentro de los corchetes.

3. merge_by_id_visitante.columns:

Esto devuelve un índice que contiene las etiquetas de las columnas del DataFrame merge_by_id_visitante.

4. .str.endswith('_right'):

Este es un método de cadena que se aplica a cada etiqueta de columna en el DataFrame. El método endswith('_right') devuelve True para las columnas cuyos nombres terminan con el sufijo _right, y False para los que no.
5. ~ (operador de negación):

Este operador invierte el resultado del filtro. Es decir, transforma True en False y viceversa. Por lo tanto, ~merge_by_id_visitante.columns.str.endswith('_right') genera una matriz booleana que es True para todas las columnas que no terminan en _right.

-Función del Código

El objetivo de esta línea es eliminar todas las columnas del DataFrame merge_by_id_visitante que terminan con _right. Esto es útil para deshacerse de las columnas duplicadas que se añadieron durante la fusión para evitar conflictos de nombres, dejando solo las columnas originales y las necesarias para el análisis o procesamiento posterior.


El uso de loc con la matriz booleana asegura que solo se seleccionen las columnas que no fueron marcadas con _right, eliminando efectivamente las columnas duplicadas o innecesarias del DataFrame final.


Este enfoque es muy práctico en procesos de fusión múltiple donde queremos mantener solo una versión de cada columna y evitar redundancias o conflictos en los datos.

In [10]:
merge_by_id_visitante.to_csv('primer_merge.csv',index=False)

In [18]:
#Unimos con el último df que quedaba. No se que tan útil sea esto.
primer_mergeado=pd.read_csv('/Users/h.adrianzabaletahernandez/Desktop/ReconocimientoDeEmociones/Archivos CSV/primer_merge.csv')
df_atracciones=pd.read_csv('/Users/h.adrianzabaletahernandez/Desktop/ReconocimientoDeEmociones/Archivos CSV/atracciones.csv')
df_mergeado=pd.merge(primer_mergeado, df_atracciones, how="left", on=['id_visitante', 't_id'])

In [30]:
df_mergeado.drop(columns=['id_visitante'], inplace=True)
df_mergeado

,t_id,procedencia,duracion,tipo_entrada,coste,antelacion_de_compra,atraccion,comienzo_atraccion,tiempo_de_espera
0,Training_10118481.jpg,Filipinas,308,Pase Anual,14.00,0,Montaña Rusa de la Luna,291.0,5
1,Training_10118481.jpg,Filipinas,308,Entrada Familiar,20.90,2,Montaña Rusa de la Luna,291.0,5
2,Training_10118481.jpg,Filipinas,308,Entrada Infantil,12.64,218,Montaña Rusa de la Luna,291.0,5
3,Training_10118481.jpg,Filipinas,308,Paquete VIP,18.49,39,Montaña Rusa de la Luna,291.0,5
4,Training_10118481.jpg,Filipinas,308,Entrada Familiar,18.23,135,Montaña Rusa de la Luna,291.0,5
...,...,...,...,...,...,...,...,...,...
28734698,PublicTest_2529039.jpg,España,419,Entrada Individual,18.44,265,Espejos de la Risueña,421.0,18
28734699,PublicTest_27916929.jpg,Filipinas,206,Entrada Individual,11.50,42,Rápido del Trueno,185.0,18
28734700,PublicTest_64107181.jpg,Alemania,368,Entrada Individual,13.87,0,Carrusel Encantado,106.0,16
28734701,PublicTest_81098275.jpg,Filipinas,425,Entrada Familiar,16.70,23,Mansión Embrujada,679.0,16
28734702,PublicTest_94828377.jpg,Francia,464,Paquete VIP,21.84,208,NaN,417.0,13

In [20]:
df_mergeado.to_csv('mergeado_completo.csv',index=False)

In [12]:
dfs=[df_atracciones,df_procedencia,df_ticket,df_duracion]

for df in dfs:
    for columna in df:
        print(columna, df[columna].nunique()  )

id_visitante 1787
t_id 35885
atraccion 35
comienzo_atraccion 719
tiempo_de_espera 32
id_visitante 1787
t_id 35885
procedencia 34
id_visitante 1787
t_id 35885
tipo_entrada 6
coste 2745
antelacion_de_compra 365
id_visitante 1787
t_id 35885
duracion 656

In [26]:
df_mergeado=pd.read_csv('/Users/h.adrianzabaletahernandez/Desktop/ReconocimientoDeEmociones/Archivos CSV/mergeado_completo.csv')

In [29]:
df_mergeado.head(50)

,id_visitante,t_id,procedencia,duracion,tipo_entrada,coste,antelacion_de_compra,atraccion,comienzo_atraccion,tiempo_de_espera
0,3,Training_10118481.jpg,Filipinas,308,Pase Anual,14.00,0,Montaña Rusa de la Luna,291.0,5
1,3,Training_10118481.jpg,Filipinas,308,Entrada Familiar,20.90,2,Montaña Rusa de la Luna,291.0,5
2,3,Training_10118481.jpg,Filipinas,308,Entrada Infantil,12.64,218,Montaña Rusa de la Luna,291.0,5
3,3,Training_10118481.jpg,Filipinas,308,Paquete VIP,18.49,39,Montaña Rusa de la Luna,291.0,5
4,3,Training_10118481.jpg,Filipinas,308,Entrada Familiar,18.23,135,Montaña Rusa de la Luna,291.0,5
5,3,Training_10118481.jpg,Filipinas,308,Entrada Infantil,19.40,75,Montaña Rusa de la Luna,291.0,5
6,3,Training_10118481.jpg,Filipinas,308,Pase Anual,27.84,198,Montaña Rusa de la Luna,291.0,5
7,3,Training_10118481.jpg,Filipinas,308,Entrada Infantil,20.05,273,Montaña Rusa de la Luna,291.0,5
8,3,Training_10118481.jpg,Filipinas,308,Pase Anual,25.97,357,Montaña Rusa de la Luna,291.0,5
9,3,Training_10118481.jpg,Filipinas,308,Pase Rápido,11.37,72,Montaña Rusa de la Luna,291.0,5
10,3,Training_10118481.jpg,Filipinas,308,Entrada Familiar,26.21,122,Montaña Rusa de la Luna,291.0,5
11,3,Training_10118481.jpg,Filipinas,308,Entrada Infantil,19.23,0,Montaña Rusa de la Luna,291.0,5
12,3,Training_10118481.jpg,Filipinas,308,Pase Rápido,13.94,3,Montaña Rusa de la Luna,291.0,5
13,3,Training_10118481.jpg,Filipinas,308,Pase Rápido,27.12,0,Montaña Rusa de la Luna,291.0,5
14,3,Training_10118481.jpg,Filipinas,308,Paquete VIP,19.26,248,Montaña Rusa de la Luna,291.0,5
15,3,Training_10118481.jpg,Filipinas,308,Entrada Infantil,24.25,0,Montaña Rusa de la Luna,291.0,5
16,3,Training_10118481.jpg,Filipinas,308,Entrada Infantil,13.30,159,Montaña Rusa de la Luna,291.0,5
17,3,Training_10118481.jpg,Filipinas,308,Paquete VIP,15.09,181,Montaña Rusa de la Luna,291.0,5
18,3,Training_10118481.jpg,Filipinas,308,Pase Anual,18.77,0,Montaña Rusa de la Luna,291.0,5
19,3,Training_10118481.jpg,Filipinas,308,Entrada Familiar,11.11,123,Montaña Rusa de la Luna,291.0,5
20,3,Training_10118481.jpg,Filipinas,308,Pase Rápido,11.64,12,Montaña Rusa de la Luna,291.0,5
21,3,Training_10118481.jpg,Filipinas,308,Entrada Individual,18.96,1,Montaña Rusa de la Luna,291.0,5
22,3,Training_10118481.jpg,Filipinas,308,Pase Anual,17.15,280,Montaña Rusa de la Luna,291.0,5
23,3,Training_10118481.jpg,Filipinas,308,Entrada Individual,8.30,36,Montaña Rusa de la Luna,291.0,5
24,3,Training_10118481.jpg,Filipinas,308,Pase Anual,22.25,0,Montaña Rusa de la Luna,291.0,5
25,3,Training_10118481.jpg,Filipinas,308,Pase Rápido,25.11,0,Montaña Rusa de la Luna,291.0,5
26,3,Training_10118481.jpg,Filipinas,308,Entrada Individual,22.62,214,Montaña Rusa de la Luna,291.0,5
27,3,Training_10118481.jpg,Filipinas,308,Paquete VIP,12.29,309,Montaña Rusa de la Luna,291.0,5
28,3,Training_10118481.jpg,Filipinas,308,Entrada Individual,15.07,172,Montaña Rusa de la Luna,291.0,5
29,3,Training_10118481.jpg,Filipinas,308,Entrada Familiar,25.52,2,Montaña Rusa de la Luna,291.0,5
30,3,Training_10118481.jpg,Filipinas,308,Entrada Infantil,17.06,183,Montaña Rusa de la Luna,291.0,5
31,3,Training_10118481.jpg,Filipinas,308,Entrada Infantil,14.51,0,Montaña Rusa de la Luna,291.0,5
32,3,Training_10118481.jpg,Filipinas,308,Paquete VIP,16.24,1,Montaña Rusa de la Luna,291.0,5
33,3,Training_10118481.jpg,Filipinas,308,Paquete VIP,8.92,73,Montaña Rusa de la Luna,291.0,5
34,3,Training_10118481.jpg,Filipinas,308,Entrada Familiar,17.35,165,Montaña Rusa de la Luna,291.0,5
35,3,Training_10118481.jpg,Filipinas,308,Entrada Familiar,3.43,334,Montaña Rusa de la Luna,291.0,5
36,3,Training_10118481.jpg,Filipinas,344,Pase Anual,14.00,0,Montaña Rusa de la Luna,291.0,5
37,3,Training_10118481.jpg,Filipinas,344,Entrada Familiar,20.90,2,Montaña Rusa de la Luna,291.0,5
38,3,Training_10118481.jpg,Filipinas,344,Entrada Infantil,12.64,218,Montaña Rusa de la Luna,291.0,5
39,3,Training_10118481.jpg,Filipinas,344,Paquete VIP,18.49,39,Montaña Rusa de la Luna,291.0,5
40,3,Training_10118481.jpg,Filipinas,344,Entrada Familiar,18.23,135,Montaña Rusa de la Luna,291.0,5
41,3,Training_10118481.jpg,Filipinas,344,Entrada Infantil,19.40,75,Montaña Rusa de la Luna,291.0,5
42,3,Training_10118481.jpg,Filipinas,344,Pase Anual,27.84,198,Montaña Rusa de la Luna,291.0,5
43,3,Training_10118481.jpg,Filipinas,344,Entrada Infantil,20.05,273,Montaña Rusa de la Luna,291.0,5
44,3,Training_10118481.jpg,Filipinas,344,Pase Anual,25.97,357,Montaña Rusa de la Luna,291.0,5
45,3,Training_10118481.jpg,Filipinas,344,Pase Rápido,11.37,72,Montaña Rusa de la Luna,291.0,5
46,3,Training_10118481.jpg,Filipinas,344,Entrada Familiar,26.21,122,Montaña Rusa de la Luna,291.0,5
47,3,Training_10118481.jpg,Filipinas,344,Entrada Infantil,19.23,0,Montaña Rusa de la Luna,291.0,5
48,3,Training_10118481.jpg,Filipinas,344,Pase Rápido,13.94,3,Montaña Rusa de la Luna,291.0,5
49,3,Training_10118481.jpg,Filipinas,344,Pase Rápido,27.12,0,Montaña Rusa de la Luna,291.0,5

In [27]:
df_mergeado.isnull().sum()

id_visitante                 0
t_id                         0
procedencia                  0
duracion                     0
tipo_entrada                 0
coste                        0
antelacion_de_compra         0
atraccion               904329
comienzo_atraccion       69281
tiempo_de_espera             0
dtype: int64