In [21]:
import pandas as pd
import numpy as np

In [22]:
df_procedencia=pd.read_csv('/Users/h.adrianzabaletahernandez/Desktop/ArchivosCSVProyecto-Pontia2024/procedencia.csv')

In [25]:
df_procedencia[df_procedencia['procedencia']=='España'].head(20)

    id_visitante                      t_id procedencia
1              3     Training_15361067.jpg      España
5              3     Training_66555113.jpg      España
8              3     Training_12950225.jpg      España
9              3     Training_42955258.jpg      España
13             3     Training_90069123.jpg      España
14             3     Training_28136915.jpg      España
16             3     Training_61794811.jpg      España
18             3     Training_72798447.jpg      España
25             3     Training_53284079.jpg      España
26             3     Training_53305606.jpg      España
27             3     Training_20716064.jpg      España
30             3     Training_75082078.jpg      España
32             3   PublicTest_28123281.jpg      España
33             3   PublicTest_75651978.jpg      España
34             3  PrivateTest_92593957.jpg      España
35             3  PrivateTest_98556225.jpg      España
38             4     Training_19226789.jpg      España
43             4     Training_72552568.jpg      España
58             4     Training_94534277.jpg      España
59             4      Training_1204614.jpg      España

In [11]:
df_procedencia.drop(columns=['id_visitante'], inplace=True)
df_procedencia

                          t_id  procedencia
0        Training_10118481.jpg    Filipinas
1        Training_15361067.jpg       España
2        Training_16232328.jpg  Puerto Rico
3        Training_27705571.jpg     Paraguay
4        Training_63766171.jpg    Argentina
...                        ...          ...
35882   PublicTest_2529039.jpg       España
35883  PublicTest_27916929.jpg    Filipinas
35884  PublicTest_64107181.jpg     Alemania
35885  PublicTest_81098275.jpg    Filipinas
35886  PublicTest_94828377.jpg      Francia

[35887 rows x 2 columns]

In [13]:
df_procedencia[df_procedencia['procedencia']=='Filipinas']

                           t_id procedencia
0         Training_10118481.jpg   Filipinas
15        Training_52516519.jpg   Filipinas
60        Training_15524948.jpg   Filipinas
90        Training_33315056.jpg   Filipinas
145        Training_9570645.jpg   Filipinas
...                         ...         ...
35762   PublicTest_97435785.jpg   Filipinas
35778  PrivateTest_22407614.jpg   Filipinas
35880  PrivateTest_97342741.jpg   Filipinas
35883   PublicTest_27916929.jpg   Filipinas
35885   PublicTest_81098275.jpg   Filipinas

[801 rows x 2 columns]

In [8]:
df_procedencia.to_csv('procedencia_sql.csv', index=False)