In [1]:
import pandas as pd
import numpy as np

In [2]:
df_procedencia=pd.read_csv('/Users/h.adrianzabaletahernandez/Desktop/ArchivosCSVProyecto-Pontia2024/procedencia.csv')

In [6]:
df_procedencia.drop(columns=['id_visitante'], inplace=True)
df_procedencia

                          t_id  procedencia
0        Training_10118481.jpg    Filipinas
1        Training_15361067.jpg       España
2        Training_16232328.jpg  Puerto Rico
3        Training_27705571.jpg     Paraguay
4        Training_63766171.jpg    Argentina
...                        ...          ...
35882   PublicTest_2529039.jpg       España
35883  PublicTest_27916929.jpg    Filipinas
35884  PublicTest_64107181.jpg     Alemania
35885  PublicTest_81098275.jpg    Filipinas
35886  PublicTest_94828377.jpg      Francia

[35887 rows x 2 columns]

In [8]:
df_procedencia.to_csv('procedencia_sql.csv', index=False)