In [3]:
import pandas as pd
import json
import csv

#Archivo id_vistante-procedencia

Estructura de los datos:

{str: }

{str:

 [

 ]

}

{str:

[

 {
  "t_id": str,
  "procedencia": ""
 }
]

}

A lo que queremos llegar

resultado={'id_vistante':[],'t_id':[],'procedencia':[]}

Tenemos un diccionario cuya claves son strings.

El valor del diciconario son listas de diccionarios.

Los dicioanrios a su vez tienen dos claves: t_id, procedencia.

In [4]:
#Cargo el json
with open ('/Users/h.adrianzabaletahernandez/Desktop/ReconocimientoDeEmociones/data/id_visitante-procedencia.json') as f:
    data_procedencia= json.load(f)

In [5]:
#El for modificado y adaptado a nuestros archivos.
procedencia={'id_visitante':[],'t_id':[],'procedencia':[]}
for id_visitante in data_procedencia:
  for diccionario in data_procedencia[id_visitante]:
    procedencia['id_visitante'].append(id_visitante)
    procedencia['t_id'].append(diccionario['t_id'])
    procedencia['procedencia'].append(diccionario['procedencia'])

In [6]:
df_procedencia=pd.DataFrame(procedencia)

In [7]:
df_procedencia.to_csv('procedencia.csv', index=False)

In [5]:
df_procedencia

      id_visitante                     t_id  procedencia
0                3    Training_10118481.jpg    Filipinas
1                3    Training_15361067.jpg       España
2                3    Training_16232328.jpg  Puerto Rico
3                3    Training_27705571.jpg     Paraguay
4                3    Training_63766171.jpg    Argentina
...            ...                      ...          ...
35882         1783   PublicTest_2529039.jpg       España
35883         1784  PublicTest_27916929.jpg    Filipinas
35884         1785  PublicTest_64107181.jpg     Alemania
35885         1786  PublicTest_81098275.jpg    Filipinas
35886         1787  PublicTest_94828377.jpg      Francia

[35887 rows x 3 columns]

In [6]:
df_procedencia.shape
df_procedencia.isnull().sum()
df_procedencia.dtypes

id_visitante    object
t_id            object
procedencia     object
dtype: object

#Archivo id_visitante-duracion

In [8]:
#lo abrimos
with open ('/Users/h.adrianzabaletahernandez/Desktop/ReconocimientoDeEmociones/data/id_visitante-duracion.json') as f:
    data_duracion= json.load(f)

In [9]:
duracion={'id_visitante':[],'t_id':[],'duracion':[]}

for id_visitante in data_duracion:
  for diccionario in data_duracion[id_visitante]:
    duracion['id_visitante'].append(id_visitante)
    duracion['t_id'].append(diccionario['t_id'])
    duracion['duracion'].append(diccionario['duracion'])

In [10]:
df_duracion=pd.DataFrame(duracion)

In [11]:
df_duracion.to_csv('duracion.csv', index=False)

In [10]:
df_duracion

      id_visitante                     t_id  duracion
0                3    Training_10118481.jpg       308
1                3    Training_15361067.jpg       344
2                3    Training_16232328.jpg       161
3                3    Training_27705571.jpg       260
4                3    Training_63766171.jpg       169
...            ...                      ...       ...
35882         1783   PublicTest_2529039.jpg       419
35883         1784  PublicTest_27916929.jpg       206
35884         1785  PublicTest_64107181.jpg       368
35885         1786  PublicTest_81098275.jpg       425
35886         1787  PublicTest_94828377.jpg       464

[35887 rows x 3 columns]

In [11]:
df_duracion.isna().sum()
#df_duracion.nunique()
#cuántas veces se repiten las fotos?, son de la misma persona?

id_visitante    0
t_id            0
duracion        0
dtype: int64

#Archivo id_visitante-ticket

Estrutura de nuestro json:

{"3": [{"t_id": "Training_10118481.jpg", "tipo_entrada": "Pase Anual", "coste": 14.003708207777139, "antelacion_de_compra": 0}

In [12]:
#Abrimos el json
with open ('/Users/h.adrianzabaletahernandez/Desktop/ReconocimientoDeEmociones/data/id_visitante-ticket.json') as f:
    data_ticket= json.load(f)

In [13]:
ticket={'id_visitante':[],'t_id':[],'tipo_entrada':[],'coste':[],'antelacion_de_compra':[]}

for id_visitante in data_ticket:
  for diccionario in data_ticket[id_visitante]:
    ticket['id_visitante'].append(id_visitante)
    ticket['t_id'].append(diccionario['t_id'])
    ticket['tipo_entrada'].append(diccionario['tipo_entrada'])
    ticket['coste'].append(round((diccionario['coste']),2))
    ticket['antelacion_de_compra'].append(diccionario['antelacion_de_compra'])

In [14]:
df_ticket=pd.DataFrame(ticket)

In [15]:
df_ticket.to_csv('ticket.csv', index=False)

In [15]:
df_ticket.isna().sum()
#df_ticket.dtypes
#df_ticket.nunique()

id_visitante            0
t_id                    0
tipo_entrada            0
coste                   0
antelacion_de_compra    0
dtype: int64

#Archivo id_vistante-atracciones

In [16]:
#lo abrimos
with open ('/Users/h.adrianzabaletahernandez/Desktop/ReconocimientoDeEmociones/data/id_visitante-atracciones.json') as f:
    data_atracciones= json.load(f)

Estrutura del archivo:

{"3": [{"t_id": "Training_10118481.jpg", "atraccion": "Monta\u00f1a Rusa de la Luna", "comienzo_atraccion": 291, "tiempo_de_espera": 5}

In [17]:
atracciones={'id_visitante':[],'t_id':[],'atraccion':[],'comienzo_atraccion':[],'tiempo_de_espera':[]}

for id_visitante in data_atracciones:
  for diccionario in data_atracciones[id_visitante]:
    atracciones['id_visitante'].append(id_visitante)
    atracciones['t_id'].append(diccionario['t_id'])
    atracciones['atraccion'].append(diccionario['atraccion'])
    atracciones['comienzo_atraccion'].append(diccionario['comienzo_atraccion'])#hay que convertir estos datos a enteros, el problema es que hay nulos, se puede hacer mediante: to_numeric y  errors='coerce' y luego astype('Int64') o, rellenar los nulos sustituyéndolos por ceros y luego el astype(int)
    atracciones['tiempo_de_espera'].append(diccionario['tiempo_de_espera'])

In [18]:
df_atracciones=pd.DataFrame(atracciones)

In [19]:
df_atracciones.dtypes

id_visitante           object
t_id                   object
atraccion              object
comienzo_atraccion    float64
tiempo_de_espera        int64
dtype: object

In [20]:
#hay que convertir comienzo_atracción a enteros, el problema es que hay nulos, 
#se puede hacer mediante: to_numeric y  errors='coerce' y luego astype('Int64') o, 
#rellenar los nulos sustituyéndolos por ceros y luego el astype(int)
df_atracciones['comienzo_atraccion']=pd.to_numeric(df_atracciones['comienzo_atraccion'], errors='coerce').astype('Int64')

In [21]:
df_atracciones.to_csv('atracciones.csv', index=False)

In [21]:
df_atracciones.dtypes

id_visitante          object
t_id                  object
atraccion             object
comienzo_atraccion     Int64
tiempo_de_espera       int64
dtype: object

In [22]:
df_atracciones.isnull().sum()
#hay demasiados nulos en el nombre de la atracción

id_visitante             0
t_id                     0
atraccion             1138
comienzo_atraccion      96
tiempo_de_espera         0
dtype: int64

In [23]:
df_atracciones.nunique()

id_visitante           1787
t_id                  35885
atraccion                35
comienzo_atraccion      719
tiempo_de_espera         32
dtype: int64

In [24]:
df_atracciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35887 entries, 0 to 35886
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_visitante        35887 non-null  object
 1   t_id                35887 non-null  object
 2   atraccion           34749 non-null  object
 3   comienzo_atraccion  35791 non-null  Int64
 4   tiempo_de_espera    35887 non-null  int64
dtypes: Int64(1), int64(1), object(3)
memory usage: 1.4+ MB

In [25]:
#Hay que calcular el porcentaje de nulos

In [26]:
df_atracciones['atraccion'].nunique()# El parque tiene 35 atracciones

35

In [27]:
df_atracciones['atraccion'].value_counts()

atraccion
Vuelta al Mundo en 80 Días      1041
Circus Fantástico               1027
Aventuras Acuáticas             1021
Mansión Embrujada               1017
Montaña Rusa de la Luna         1016
Rueda de la Fortuna             1014
Carros Chocones Divertidos      1010
Fiesta de los Dulces            1008
Rápido del Trueno               1008
Mundo de las Maravillas         1007
Vuelo Mágico                    1003
Tirolina Extrema                1002
Jardín de las Hadas              997
Araña Saltarina                  995
Tobogán del Arco Iris            994
Cúpula Estelar                   992
Carrera de Autos Locos           991
Laberinto de Sueños              989
Tren del Terror                  989
Barco Pirata Misterioso          988
Circuito Veloz                   984
Dragón Volador                   984
Cohetes Galácticos               982
Cine 4D Emocionante              982
Safari Salvaje                   981
Torbellino Espacial              979
Simulador Espacial 3D            978
Caravana de Aventuras            977
Montaña del Misterio             977
Gran Caída Libre                 976
Selva Encantada                  973
Espejos de la Risueña            972
Cascada Encantada                969
Viaje al Centro de la Tierra     968
Carrusel Encantado               958
Name: count, dtype: int64

In [22]:
#hay que mirar los nulos y cuanto representan del total
filas_con_nulos = df_atracciones[df_atracciones.isnull().any(axis=1)]
df_nulo_atracciones=pd.DataFrame(filas_con_nulos)
df_nulo_atracciones
#Hay fotos tomadas pero no sabemos en qué atracción las hicieron.¿Qué hacemos con esos datos?

,id_visitante,t_id,atraccion,comienzo_atraccion,tiempo_de_espera
56,4,Training_85932660.jpg,None,596,4
59,4,Training_1204614.jpg,None,426,21
60,4,Training_15524948.jpg,None,100,8
61,4,Training_57944429.jpg,None,477,13
82,5,Training_81192903.jpg,Barco Pirata Misterioso,<NA>,12
...,...,...,...,...,...
35801,1735,PublicTest_62426646.jpg,None,108,13
35815,1741,PrivateTest_23030368.jpg,None,404,11
35828,1749,PrivateTest_93071746.jpg,None,80,18
35860,1768,PublicTest_93328347.jpg,None,562,13
35886,1787,PublicTest_94828377.jpg,None,417,13

In [23]:
df_nulo_atracciones.to_csv('nulos_atracciones.csv', index=False)

#Archivo valoraciones

In [4]:
#lo abrimos
with open ('/Users/h.adrianzabaletahernandez/Desktop/ReconocimientoDeEmociones/data/valoraciones.json') as f:
    data_valoraciones= json.load(f)

In [5]:
#Convierto el json en una serie que luego transformo en un df. Esto es más fácil que hacerlo en varios pasos.
df_valoraciones=pd.DataFrame(pd.Series(data_valoraciones), columns=['valoracion'])

In [7]:
df_valoraciones.reset_index()

                         index  valoracion
0        Training_10118481.jpg           2
1        Training_10120469.jpg           6
2        Training_10131352.jpg           0
3        Training_10161559.jpg           4
4         Training_1021836.jpg           6
...                        ...         ...
35880  PublicTest_98089595.jpg           2
35881  PublicTest_98567249.jpg           7
35882  PublicTest_98972870.jpg          10
35883  PublicTest_99242645.jpg           5
35884  PublicTest_99446963.jpg           0

[35885 rows x 2 columns]

In [8]:
df_valoraciones.to_csv('valoraciones.csv', index=False)

In [32]:
#transformamos el tipo de dato de valoración de object a int 
df_valoraciones['valoracion']=df_valoraciones['valoracion'].astype('Int64')

In [33]:
df_valoraciones.isnull().sum()

valoracion    0
dtype: int64

#Archivo emoción

Estructura de los datos:

"Training_10118481.jpg": {"t_id": "Training_10118481.jpg", "emocion": "angry", "tiempo_recogida": 291}

In [27]:
#lo abrimos
with open ('/Users/h.adrianzabaletahernandez/Desktop/ReconocimientoDeEmociones/data/emocion.json') as f:
    data_emocion= json.load(f)

In [28]:
#Este archivo es una lista cuyos elementos son diccionario (difiere de los otros archivos y no podemos aplicar el mismo método). 
#Sacaremos los elementos en listas separadas y haremos luego el df.
fotos=[]
t_ids=[]
emociones=[]
tiempos_recogida=[]
#Este bucle itera sobre cada par clave-valor en el diccionario data_emocion utilizando el método .items(), 
#que devuelve una lista de tuplas, cada una conteniendo una clave y su valor correspondiente (que en este caso es otro diccionario).
for clave, diccionario in data_emocion.items():
    fotos.append(clave)
    t_ids.append(diccionario['t_id'])
    emociones.append(diccionario['emocion'])
    tiempos_recogida.append(diccionario['tiempo_recogida'])

#ASÍ FUNCIONA 
#fotos.append(clave): añade la clave (nombre de la foto) a la lista fotos.
#t_ids.append(diccionario['t_id']): accede al valor asociado con la clave 't_id' en el diccionario diccionario y lo añade a la lista t_ids.
#emociones.append(diccionario['emocion']): similar a lo anterior, extrae la emoción asociada con la foto del diccionario y la añade a la lista emociones.
#tiempos_recogida.append(diccionario['tiempo_recogida']): extrae el tiempo de recogida o timestamp del diccionario y lo añade a la lista tiempos_recogida.

In [29]:
df_emocion=pd.DataFrame({'t_id':t_ids,
                        'emocion':emociones,
                        'tiempo':tiempos_recogida})
df_emocion

                          t_id   emocion  tiempo
0        Training_10118481.jpg     angry     291
1        Training_10120469.jpg     angry     425
2        Training_10131352.jpg     angry     499
3        Training_10161559.jpg     angry     715
4         Training_1021836.jpg     angry     301
...                        ...       ...     ...
35880  PublicTest_98089595.jpg  surprise     469
35881  PublicTest_98567249.jpg  surprise     299
35882  PublicTest_98972870.jpg  surprise     255
35883  PublicTest_99242645.jpg  surprise     573
35884  PublicTest_99446963.jpg  surprise     466

[35885 rows x 3 columns]

In [30]:
df_emocion.to_csv('emocion.csv', index=False)